<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="/blog">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li>
        <li class="nav-article {% if page.url contains 'Article' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/article">Articles</a></li>
        
        <ul>
        <h3 class="nav-auth"> Authors </h3>
            <li class="nav-author" role="presentation"><a href="{{ site.baseurl }}author/unnati/q">Unnati Sharma</a></li>
            <li class="nav-author" role="presentation"><a href="{{ site.baseurl }}author/ganesh">Ganesh Varma</a></li>
            <li class="nav-author" role="presentation"><a href="{{ site.baseurl }}author/siddhartha/q">Siddhartha Vidhyadharaa</a></li>
            <li class="nav-author" role="presentation"><a href="{{ site.baseurl }}author/akhil/q">Akhil</a></li>
        </ul>
    </ul>
    <a class="subscribe-button" href="/">Main Site</a>
</div>
<span class="nav-cover"></span>
